accelerate
chromadb
dirtyjson
httptools
inflect
jaraco-collections
jaraco-functools
jaraco.collections
jinja2
json-repair
langchain-community
langchain-fireworks
langchain-ollama
langchain-openai
matplotlib
networkx
pip-chill
platformdirs
pytest
ruff
scipy
unstructured
uvloop
watchdog
watchfiles
websockets
