accelerate
chromadb
dirtyjson
httptools
inflect
jaraco-collections
jaraco-functools
jaraco.collections
json-repair
langchain-community
langchain-ollama
langchain-openai
matplotlib
pip-chill
platformdirs
pytest
scipy
unstructured
uvloop
watchdog
watchfiles
websockets
