accelerate
chromadb
dirtyjson
httptools
jaraco.collections
json-repair
langchain-community
langchain-ollama
langchain-openai
matplotlib
pip-chill
platformdirs
scipy
transformers
unstructured
uvloop
watchdog
watchfiles
websockets
